@import "tailwindcss";

@theme {
  --color-bg: #09090b;
  --color-card: #18181b;
  --color-primary: #ccff00;
  --color-secondary: #9d4edd;
  --color-text: #fafafa;
  --color-text-muted: #a1a1aa;
  
  --font-sans: "Space Grotesk", "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg); 
}
 
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
